<div class="parent">
    <form [formGroup]="studentForm">
        <h2>Create Student Id Card</h2>
        <br>

        <label for="">School-logo: </label>
        <input type="text" formControlName="school_logo">
        <br>

        <label for="">School-name: </label>
        <input type="text" formControlName="school_name">
        <br>

        <label for="">Name: </label>
        <input type="text" formControlName="name">
        <br>

        <label for="">Phone: </label>
        <input type="text" formControlName="phone">
        <br>

        <label for="">DOB: </label>
        <input type="text" formControlName="dob">
        <br>

        <label for="">City: </label>
        <input type="text" formControlName="city">
        <br>

        <label for="">Email: </label>
        <input type="text" formControlName="email">
        <br>

        <label for="">Profile-Picture: </label>
        <input type="text" formControlName="profile_picture">
        <br>

        <label for="">School-City: </label>
        <input type="text" formControlName="school_city">
        <br>

        <label for="">School_Pin: </label>
        <input type="text" formControlName="school_pin">
        <br>

        <button (click)="create()">Create</button>
    </form>
</div>