

<table>
  <thead>
    <tr>
      <th>SNo</th>
      <th>Name</th>
      <th>Experience</th>
      <th>Package</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees; let i=index">
      <td>{{ i + 1 }}</td>
      <td>{{ employee.name }}</td>
      <td>
        <!-- {{ employee.experience }} -->
          <app-rating [rating]="employee.experience"></app-rating>
      </td>
      <td>{{ employee.package }}</td>
      <td>{{ employee.role }}</td>
      <td>
        <button (click)="delete(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<input type="text" [(ngModel)]="term" (keyup)="filter()">
<button (click)="experienceLH()">experience low to high</button>
<button (click)="bonus()">apply 3000 bonus</button>
<button (click)="cost()">cost to company</button>
