<!-- <h3 *ngIf="rating>=1&&rating<2">*</h3>
<h3 *ngIf="rating>=2&&rating<3">* *</h3>
<h3 *ngIf="rating>=3&&rating<4">* * *</h3>
<h3 *ngIf="rating>=4&&rating<5">* * * *</h3>
<h3 *ngIf="rating>5">* * * * *</h3> -->

<img *ngIf="rating>=1&&rating<2" src="assets/1star.jpg" alt="1star">
<img *ngIf="rating>=2&&rating<3" src="assets/2star.jpg" alt="2star">
<img *ngIf="rating>=3&&rating<4" src="assets/3star.jpg" alt="3star">
<img *ngIf="rating>=4&&rating<5" src="assets/4star.jpg" alt="4star">
<img *ngIf="rating>=5" src="assets/5star.jpg" alt="5star">


