<div class="parent">

    <div class="left">
        <h2>My Website</h2>
        <hr>
        <a routerLink="home">Home</a>
        <a routerLink="welcome">Welcome</a>
        <a routerLink="data-binding" >data-binding</a>
        <a routerLink="calculator" >Calculator</a>
        <a routerLink="rectangle">Rectangle</a>
        <a routerLink="circle">Circle</a>
        <a routerLink="bmi">BMI</a>
        <a routerLink="dice-roll">dice-roll</a>
        <a routerLink="directive-pipes">directive-pipes</a>
        <a routerLink="employees">Employees</a>
        <a routerLink="flipkartcart">Flipkart-Cart</a>
        <a routerLink="vehicles">Vehicles</a>
        <a routerLink="bankaccounts">BankAccounts</a>
        <a routerLink="myntra">Myntra</a>
        <a routerLink="mail">Mail</a>
        <a routerLink="createvehicle">CreateVehicle</a>
        <a routerLink="createbankaccount">CreateBankAccount</a>
        <a routerLink="studentcard">StudentCard</a>
        <a routerLink="createstudentcard">CreateStudentCard</a>
        <a routerLink="photogallery">PhotoGallery</a>
        <a routerLink="reload">Reload</a>
        <a routerLink="createuser">Create-User</a>
        <hr>
        <button (click)="logout()">Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>

</div>
