.parent {
  display: flex;
  justify-content: space-between; /* Ensures even spacing between children */
  width: 100%; /* Make sure the parent takes full width */
  height: 100%;
}

.child1, .child2, .child3 {
  width: 33%;
  box-sizing: border-box; /* Ensures padding and borders are included in the width */
  height: 95%;
  border-radius: 5px;
  
}

.child1 {
  background-color:aqua; /* Customize the background for styling */
  display: flex;
  justify-content: center;
  align-items: center;
}

.child2 {
  background-color:thistle;
  padding: 10px;
  overflow-y: auto;
}

.child3 {
  background-color:coral;
  overflow-y: auto;
}
